<h1 class="mt-4">Sistema</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro nível de usuário</li>
</ol>
<div class="container">
    <form #CadRoleform="ngForm" (submit)="onSubmit()">



        <mat-form-field appearance="fill">
            <mat-label>Usuários</mat-label>
            <mat-select [(ngModel)]="nomeUsuario" name="nomeUsuario" (ngModelChange)="atualizaRoles()">
              <mat-option *ngFor="let usuario of usuariosCadastrados" [value]="usuario" >
                {{usuario}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>


        <mat-checkbox class="example-margin" name="roleAdmin" [(ngModel)]="roleAdmin">
            Admin
        </mat-checkbox>
        <br>
        <mat-checkbox class="example-margin" name="roleCliente" [(ngModel)]="roleCliente">
            Cliente
        </mat-checkbox>
        <br>
        <mat-checkbox class="example-margin" name="roleServico" [(ngModel)]="roleServico">
            Serviço
        </mat-checkbox>

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-success" type="button" (click)="alteraRoles()">
                    <i class="fa fa-save"></i>
                    Salvar</button>                
            </div>
        </div>
    </form>
</div>